
@using TryKnockout.Models;
@model IEnumerable<TryKnockout.Models.Author>

@{
    ViewBag.Title = "Index";
    var queryOptions = (QueryOptions)ViewBag.QueryOptions;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>@Html.BuildSortableLink("First Name", "Index", "firstName", queryOptions)</th>
        <th>@Html.BuildSortableLink("Last Name", "Index", "lastName", queryOptions)</th>
        <th>@Html.BuildSortableLink("Biography", "Index", "biography", queryOptions)</th>
        <th>Actions</th>
    </tr>
    <tbody data-bind="foreach: authors">
        <tr>
            <td data-bind="text: firstName"></td>
            <td data-bind="text: lastName"></td>
            <td data-bind="text: biography"></td>
            <td>
                <a data-bind="attr: {href:'@Url.Action("Details")/'+id }" class="btn btn-info">Details</a>
                <a data-bind="attr: {href:'@Url.Action("Edit")/'+id }" class="btn btn-primary">Edit</a>
                <a data-bind="click:$parent.ShowDeleteModal, attr: {href:'@Url.Action("Delete")/'+id }" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </tbody>


</table>
@Html.BuildNextPreviousLinks(queryOptions, "Index")

@section Scripts {
    <script>
        
        var authorsvm = @Html.HtmlConvertToJson(Model);
        var viewModel = new AuthorIndexViewModel(authorsvm);
        ko.applyBindings(viewModel);

    </script>

}