
@using TryKnockout.Models;
@model IEnumerable<TryKnockout.Models.Author>

@{
    ViewBag.Title = "Index";
    var queryOptions = (QueryOptions)ViewBag.QueryOptions;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>@Html.BuildSortableLink("First Name", "Index", "FirstName", queryOptions)</th>
        <th>@Html.BuildSortableLink("Last Name", "Index", "LastName", queryOptions)</th>
        <th>@Html.BuildSortableLink("Biography", "Index", "Biography", queryOptions)</th>
        <th>Actions</th>
    </tr>
    <tbody data-bind="foreach: authors">
        <tr>
            <td data-bind="text: FirstName"></td>
            <td data-bind="text: LastName"></td>
            <td data-bind="text: Biography"></td>
            <td>
                <a data-bind="attr: {href:'@Url.Action("Details")/'+Id }" class="btn btn-info">Details</a>
                <a data-bind="attr: {href:'@Url.Action("Edit")/'+Id }" class="btn btn-primary">Edit</a>
                <a data-bind="attr: {href:'@Url.Action("Delete")/'+Id }" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </tbody>
    

</table>


@section Scripts {
    <script>
        function ViewModel(Authors) {
            var self = this;
            self.authors = Authors;
        }
        var authorsvm = @Html.HtmlConvertToJson(Model);
        var viewModel = new ViewModel(authorsvm);
        ko.applyBindings(viewModel);

    </script>
    
    }